.app {
  background: #209cee;
  height: auto;
  padding: 15px;
}
body > #root > div {
  height: 100vh;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}
.todoMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todoListTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bolder;
}
.todosIconContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconMarginContainer{
  margin: 2px;
  cursor: pointer;
}